<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <title>Choose Your Words</title>
</head>
<body>
    <form action="/story" method="post">
        <label for="noun">Write a noun</label>
        <input name="noun" type="text" id="noun">
        <label for="verb">Choose a verb</label>
        <input tname="verb" ype="text" id="verb">
        <label for="name">What is your name?</label>
        <input name="name" type="text" id="name">
        <button type="submit">Click to read your story!</button>
    </form>
</body>
</html>
