<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <title>Your Story</title>
    <style>
        .hero-unit__background-image {
            position: absolute;
            z-index: -1;   
            width: 100%;
            background-image: url(https://gd.image-gmkt.com/LINE-FRIENDS-BROWN-AND-CONNIE-LINE-FRIENDS-108-PIECE-MINI-JIGSAW/li/555/750/1004750555.g_400-w_g.jpg);
            background-size: auto;
            opacity: 0.5;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
        }

        h1 {
            text-align: center;
        }

        p {
            width: 70%;
            font-size: 24px;
            margin: 0 auto;
        }
    </style>
</head>
<body>
    <div class="hero-unit">
        <div class="hero-unit__background-image"></div>
    </div>
    <h1>Brown and Connie</h1>
    <p>It was a typically rainy day in Seattle when Connie went over to Brown's house. Connie jumped up on Brown's back while he was @Model.Verb. Brown jumped in surprise while Connie clung to his neck, swinging around the room. "Let go of me," said Brown, "I have a @Model.Noun in the oven! It should be done!" Connie released her grip, but her momentum sent her flying out of the window, and into @Model.Name's arms.</p>
</body>
</html>