<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <title>Your Story</title>
</head>
<body>
    <h2>Brown and Connie</h2>
    <p>It was a typically rainy day in Seattle when Connie went over to Brown's house. Connie jumped up on Brown's back while he was @Model.Verb. Brown jumped in surprise while Connie clung to his neck, swinging around the room. "Let go of me," said Brown, "I have a @Model.Noun in the oven! It should be done!" Connie released her grip, but her momentum sent her flying out of the window, and into @Model.Name's arms.</p>
</body>
</html>